// Import page-specific CSS files here.
@import "home";
@import "new";

body {
  background: white;
}

.page-container {
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 4%;
}

h1, h2, p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}