<div class="page-container">
  <div class="d-flex justify-content-between mb-4">
    <h1>Alle Rezepte</h1>
    <%= link_to 'Rezept hinzufügen', new_recipe_path, class: "btn-petrol" %>
  </div>

  <div class="cards">
    <% @recipes.each do |recipe| %>
      <div class="recipe-card">
      <% if recipe.photo.attached? %>
        <%= cl_image_tag recipe.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
        
        <div class="recipe-infos">
          <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
          <% recipe.categories.each do |category| %>
            <%= category.name %>
          <% end %> 
        </div>
      </div>
    <% end %>
  </div>
</div>
