.btn-petrol {
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
  border: none;
  display: inline-block;
}

.btn-petrol:hover {
  background: #1e8eb1;
  color: white;
}
