.btn-petrol {
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
  border: none;
  display: inline-block;
}

.btn-petrol:hover {
  background: #1e8eb1;
  color: white;
}

.btn-red {
  color: white;
  padding: 12px;
  border-radius: 4px;
  background: $red;
  transition: background 0.3s ease;
  border: none;
  display: inline-block;
}

.btn-red:hover {
  background: $off-red;
  color: white;
}

.btn-text {
  background-color: $rose;
  text-decoration: underline;
  color: $red;
  font-size: 1.12rem;
  font-weight: 500;
  border: none;
  display: inline-block;
}

.btn-text:hover {
  background-color: $rose;
  color: $red;
  text-decoration: none;
}

.btn-text-white {
  background-color: white;
  color: $red;
  font-size: 1.12rem;
  font-weight: 500;
  border: none;
  display: inline-block;
}

.btn-text-white:hover {
  background-color: white;
  color: $red;
  text-decoration: none;
}
