.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1.6rem;
  grid-column-gap: 0.5rem;
}

@media (max-width: 329px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 330px) and (max-width: 649px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 650px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
