// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "actiontext";

.page-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 4%;
}

h1, h2, p {
  margin: 0;
}