<div class="page-container">
    <h2 class="mb-4">Lieblings-Rezepte</h2>

  <div class="cards">
    <% @favorite_recipes.each do |fav| %>
      <div class="recipe-card">
      <% if fav.recipe.photo.attached? %>
        <%= cl_image_tag fav.recipe.photo.key, crop: :fill %>
      <% end %>
        
        <div class="recipe-infos">
          <h2 class="mb-2"><%= link_to fav.recipe.name, recipe_path(fav.recipe) %></h2>
          <ul class="mb-2">
            <% fav.recipe.categories.each do |category| %>
              <li><%= category.name %></li>
            <% end %> 
          </ul>
        </div>
      </div>
    <% end %>
  </div>